html {
  height: 100%;
  width: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.head{
  display:flex;
  justify-content: space-between;
}

.headername{
  text-align: center;
}

.headername > h1{
  font-size: 50px;
  color:#1B8C76;
  font-weight:800;
}

.menulist{
  list-style: none;
  display:flex;
  justify-content: center;
  padding:0;
  margin:0;
}

.menulist > li{
  margin: 0 5% 0 5%;
  color:#1B8C76;
  transition: color 0.3s, transform 0.3s;
  font-weight: 700;
}

.menulist > li:hover{
  color:#1f3732;
  transform: translateY(-3px);
}


.fakeimg{
  height:400px;
  background: #aaa;
}

.halfimg{
  width:100%;
}

.intro{
  height: 80vh;
}

.effect{
  height: 90vh;
}



.topic{
  color:#1b8c76;
  font-size: 35px;
  font-weight: 700;
}

.subtopic{
  color:#123b33;
  font-size: 25px;
  font-weight: 550;
  margin-top: 15px;
}

.mbtn{
  background-color: #1b8c76;
  color:#ffffff;
  width: 160px;
  height: 40px;
  border: 0px;
  border-radius: 2px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.mbtn:hover{
  background-color: #64beac;
  
}

.cardmargin{
  margin: 5%;
}

.certificate{

  height: 60vh;
}

.purchase{
  height:100vh;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 60px;
  right: 20px;
  display: none; 
  padding: 10px 20px;
  background-color: #64beac;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

#scrollToTopBtn:hover {
  background-color: #7ee29f;
}